* {
  box-sizing: border-box;
}

/*#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}*/

/*#myTable th, #myTable td {
  text-align: left;
  line-height: 1.4;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}*/

#myTable th {
	line-height:2.8;
}


#name-to-profile {
  font-style: none;
  color: #666666;
}
#name-to-profile:hover {
  font-weight: 620;
  color:#00AEDE;
}


/* For the SEARCH input*/
#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 8px 20px 4px 40px;
  border: 30px solid #00aede;
  margin-bottom: 3px;
  margin-left: 160px;
}
